<!doctype html>
<html>

<head>
    <title> Add device form</title>
    <meta charset="utf-8">
    <meta name="description" content="This is a website to manage IOT devices.">
    <meta name="author" content="Susanna Ventafridda - Databases, networks, and the web - 2021/2022">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="refresh" content="600">
    <meta name="keywords" content="'IOT devices', 'smart home', 'manage IOT devices'">
    <!-- Common and page specific CSS -->
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/add_device.css">

    <!-- Bootstrap and jquery -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascripts/add_device.js"></script>
    <script type="text/javascript" src="/my_js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/my_js/bootstrap.js"></script>
    <script type="text/javascript" src="/my_js/jquery.min.js"></script>
    <script type="text/javascript" src="/my_js/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>
    <header>
        <!-- Header with navbar -->
        <div class="navbar-custom-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand"><img style=" width: 64px;" src="/logo/home_logo.png"
                                alt="Home Connect logo">Home Connect
                        </a>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    
        </div>
    </header>
    <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Error</li>
        </ol>
    </nav>
    <main>
        <div class="first-container-add-device">
            <div class="second-container-form">
                <h1> ERROR </h1>
                <div class="error-container">
                    <div class="error-outer-container"><div class="error-paragraph"><%- JSON.stringify(errorMessage).split(',')[0].slice(2) %></div></div>
                    <form class="error-form" method="<%= JSON.stringify(errorMessage).split(',')[3].slice(0, -2) %>" action="<%- JSON.stringify(errorMessage).split(',')[2] %>">
                        <input input type="hidden" id="first" type="text" name="device" value="<%= JSON.stringify(errorMessage).split(',')[1] %>" />
                        <input id="submit" type="submit" value="OK">
                    </form>
                    
                </div>
            </div>
        </div>

    </main>
</body>

</html>
