<!doctype html>
<html>

<head>
    <title> Add device </title>
    <meta charset="utf-8">
    <meta name="description" content="This is a website to manage IOT devices.">
    <meta name="author" content="Susanna Ventafridda - Databases, networks, and the web - 2021/2022">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="refresh" content="600">
    <meta name="keywords" content="'IOT devices', 'smart home', 'manage IOT devices'">
    <!-- Common and page specific CSS -->
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/device_status.css">

    <!-- Bootstrap and jquery -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascripts/add_device.js"></script>
    <script type="text/javascript" src="/my_js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/my_js/bootstrap.js"></script>
    <script type="text/javascript" src="/my_js/jquery.min.js"></script>
    <script type="text/javascript" src="/my_js/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        /* Submit device type form when user clicks on div */
        $(function () {
            $(".device-form").on("click", function () {
                $(this).submit();
            });

        });
    </script>
</head>

<body>
    <header>
        <!-- Header with navbar -->
        <div class="navbar-custom-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand"><img style=" width: 64px;" src="/logo/home_logo.png"
                                alt="Home Connect logo">Home Connect
                        </a>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    
        </div>
    </header>
    <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <% if (readMode == 'read') { %>
                <li class="breadcrumb-item active" aria-current="page">Device status</li>
            <% } else if (readMode == 'edit') { %>
                <li class="breadcrumb-item active" aria-current="page">Edit device status</li>
            <% } else if (readMode == 'delete') { %>
            <li class="breadcrumb-item active" aria-current="page">Delete device</li>
            <% } %>
        </ol>
    </nav>
    <main>
        <div class="first-container-add-device">
            <div class="second-container-form">
                <% if (readMode == 'read') { %>
                    <h1 class="main-title"> Device status </h1>
                <% } else if (readMode == 'edit') { %>
                    <h1 class="main-title"> Edit device status </h1>
                <% } else if (readMode == 'delete') { %>
                    <h1 class="main-title"> Delete device </h1>
                <% } %>
                
                <div id="devices-available-container">
                    <% if (savedDevices != null && savedDevices.length > 0) { %>
                        <% savedDevices.forEach(function(savedDevice){ %>
                        <div class="device-type-card">
                            <% var deviceAndName = savedDevice.device + '/' + savedDevice.name; %>
                            <% if (readMode == 'read') { %>
                                <form class="device-form" method="POST" action="/device_status/<%= deviceAndName %>">
                            <% } else if (readMode == 'edit') { %>
                                <form class="device-form" method="POST" action="/device_status/edit/<%= deviceAndName %>">
                            <% } else if (readMode == 'delete') { %>
                            <form class="device-form" method="POST" action="/device_status/delete/<%= deviceAndName %>">
                                <% } %>
                           
                                <input input type="hidden" id="read_mode" type="text" name="read_mode" value="<%= readMode %>">
                                <input input type="hidden" id="device" type="text" name="device" value="<%= savedDevice.device %>">
                                <input input type="hidden" id="name" type="text" name="name" value="<%= savedDevice.name %>">
                                <input input type="hidden" id="room" type="text" name="room" value="<%= savedDevice.room %>">
                                <input input type="hidden" id="is_on" type="text" name="is_on" value="<%= savedDevice.is_on %>">
                                <input input type="hidden" id="temperature" type="text" name="temperature" value="<%= savedDevice.temperature %>">
                                <input input type="hidden" id="percent" type="text" name="percent" value="<%= savedDevice.percent %>">
                                <input input type="hidden" id="program" type="text" name="program" value="<%= savedDevice.program %>">
                                <input input type="hidden" id="is_open" type="text" name="is_open" value="<%= savedDevice.is_open %>">
                                <input input type="hidden" id="grams" type="text" name="grams" value="<%= savedDevice.grams %>">
                                <input input type="hidden" id="channel" type="text" name="channel" value="<%= savedDevice.channel %>">
                                <div class="icon-and-text-outer-container">
                                    <div class="icon-and-text-container">
                                        <div class="circle"><img class="icon" src="/img/device_types/<%=savedDevice.device%>.png"
                                                alt="Lightbulb icon"></div>
                                        <div class="icon-description-container">
                                            <div class="icon-description">
                                                <b>Device: </b><%= savedDevice.device %>       
                                            </div>
                                            <div class="icon-description">
                                                <b>Name: </b><%= savedDevice.name %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <% if (readMode == 'read') { %>
                                        <input id="submit" type="submit" value="See details">
                                    <% } else if (readMode == 'edit' ) { %>
                                        <input id="submit" type="submit" value="Edit">
                                    <% } else if (readMode == 'delete' ) { %>
                                    <input id="submit" type="submit" value="Delete">
                                    <% } %>
                                    
                                </div>
                            </form>
                        </div>
                    <% })} else { %>
                        <div class="first-container-add-device">
                            <div class="second-container-form">
                                <div class="error-outer-container">
                                    <div class="error-container">
                                        <div class="error-paragraph">It looks like you haven't saved any devices yet. Let's get started!</div>
                                        <a id="redirect-button" href="/add_device">Add device</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                
                </div>
            </div>
        </div>
       
    </main>
</body>

</html>
