.first-container-add-device {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.second-container-form {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* All device types are displayed in a grid, with fixed width, 
resizing with screen dimentions*/

#devices-available-container {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  background: #fff;
}

.device-type-card {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
  box-sizing: border-box;
}

.device-type-card:before {
  content: '';
  display: table;
  padding-top: 100%;
}

.icon-and-text-container {
  flex-grow: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Device type icons */
.circle {
  display:block; 
  margin-left: 2%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
}

.icon {
  width: 70%;
}

.icon-and-text-container {
  display: flex;
  flex-direction: column;
}

.icon-and-text-container > a:hover {
  text-decoration: none;
}

.circle:hover {
  background-color: #f0ead6;
}

.icon-description {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  color: #202020;
  align-items: center;
}


/* Initial parameters form */

#initial-parameters-form {
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
  width: 70%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #initial-parameters-form {
    width: 100%;
  }
}


.form-top{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-top > input {
  margin-top: 10px;
}

label{
  margin-right: 40px;
}

.label-and-input-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* simil-Neuromorphic input */
label, .input, button, .form-bottom > input {
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 10px;
}

.input::placeholder {
  color: gray;
}

input {
  height: 30px;
}

.input, .form-bottom > input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 1px grey, inset -1px -1px 1px grey;
}

.slider-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

.radio-container{
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-container > label{
  margin-left: 5px;
}

/* Submit button */
.form-bottom > input {
  margin-top: 20px;
  background: white;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0 10px 20px 5px rgba(65, 64, 64, 0.5), 0 3px rgba(43, 42, 42, 0.23);
  display: flex;
  position: relative;
  width: 150px;
  justify-content: center;
  padding-left: 0px;
}

.input-validation-description{
  margin-top: 20px; 
}

/* Container for yes and no buttons */

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
