
/* --------------------------------- home page  -------------------------------- */
.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.second-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.third-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 70%;
}


.main-title{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #202020;
  font-size: 42px;
}

.icons-container{
  width: 70%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
   margin-top: 20px;
}

/* ----------- phone view ------ */
@media only screen and (max-width: 500px) {
  .main-title{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #202020;
    font-size: 32px;
  }

  .icons-container{
    width: 70%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

}


.icons-container > div{
  padding: 10px;
}


.circle {
  display:block; 
  margin-left: 2%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
}

.icon {
  width: 70%;
}

.icon-and-text-container {
  display: flex;
  flex-direction: column;
}

.icon-and-text-container > a:hover {
  text-decoration: none;
}

.circle:hover {
  background-color: #f0ead6;
}

.icon-description {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  color: #202020;
}

