<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <!-- SHARED HEAD -->
    <%- include('partials/sharedHead') %> 
</head>
<body>
    <div class="content container">
        <h3 class="login-header">User Registration</h3>
        <form action="#">
            <div class="row align-items-center">
                <input type="email" class="form-control mb-3" id="email" placeholder="Email" required>
            </div>
            <div class="row align-items-center">
                <input type="password" id="password" class="form-control mb-3" placeholder="Password" required>
            </div>
            <div class="row align-items-center">
                <input type="text" id="username" class="form-control mb-3" placeholder="Username" required>
            </div>
            <div class="row align-items-center">
                <input type="text" id="mobile" class="form-control mb-3" placeholder="Mobile" required>
            </div>
            <div class="row align-items-center" id="checkbox-tnc-container">
                <input type="checkbox" id="checkbox-tnc">
                <label for="checkbox-tnc">I agree to the terms and conditions</label>
            </div>
            <div class="row align-items-center">
                <button id="cust-signup-btn" type="button" class="btn mb-3">Sign up now!</button>
            </div>
        </form>
    </div>
    
</body>
</html>