<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
    <!-- SHARED HEAD -->
    <%- include('partials/sharedHead') %> 

    <!-- PAGE HEAD -->
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="content container">
        <h3 class="login-header">Log in to You And Me Vendor Dashboard</h3>
        <form action="#">
            <div class="row align-items-center">
                <label for="email">Email</label>
                <input type="email" class="form-control mb-3" id="email" placeholder="Email" required>
            </div>
            <div class="row align-items-center">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control mb-3" placeholder="Password" required>
            </div>
            <div class="row align-items-center">
                <button id="login-btn" type="submit" class="btn mb-3">Vendor Login</button>
            </div>
            <div class="row align-items-center">
                <button id="forgot-password" class="btn mb-3">Forgot Password?</button>
            </div>
            <div class="row align-items-center">
                <div class="text-center">
                    <p>Are you a customer? <a href="#">Click Here</a></p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="text-center">
                    <p>Become One of Our Vendors</p>
                </div>
            </div>
            <div class="row align-items-center">
                <button id="sign-up" class="btn">Sign Up Now!</button>
            </div>
        </form>
    </div>
    
</body>
</html>