.page-container{
  display: flex;
  flex-direction: column;
}

/* --------------------------------- filters---------------------------*/
#first-level-filters{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#dropdown-filters-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#submit-search-filters{
  vertical-align: baseline;
}

.no-results{
  display: flex;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  align-items: center;
}

#dropdown-filters-form > *{
  margin-top: 10px;
  margin-right: 10px;
}

  /* ----------- phone view ------ */
  @media only screen and (max-width: 700px) {
    #first-level-filters{
      display: flex;
      flex-direction: column;
      margin: 15px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #left-side-filters > .dropdown{
      margin-left: 5px;
      margin-top: 5px;
    }

    #right-side-filters > .dropdown{
      margin-left: 5px;
    }

    #dropdown-filters-form{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
    

    /* ----------- tablet view ------ */
    @media only screen and (max-width: 1024px) and (min-width: 701px){
      #first-level-filters{
        display: flex;
        flex-direction: column;
        margin: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
      }
  
      #left-side-filters > .dropdown{
        margin-left: 5px;
        margin-top: 5px;
      }
  
      #right-side-filters > .dropdown{
        margin-left: 0px;
        margin-right: 5px;
      }
  
      #left-side-filters{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
  
      #right-side-filters{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-right: 0px;
      }
    }


/* ----------------------------------orders ---------------------------*/

.orders-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-height: 900px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23); */
}

.orders-container * button{
  height: 50px;
}

.product{
  display: flex;
  flex-direction: row;
  height: 300px;
  font-size: 13px;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%;
}

.picture-and-description{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-right: 1px solid #ccc;
}

.product-description{
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.product-description > *{
  align-self: flex-start;
}

.product-description-text, .colors-available-p, .vendor-details, .product-title{
  text-overflow: ellipsis;
  text-align: justify;
  text-justify: inter-word;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.product-photo {
  width: 60%;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  
  /* Set a specific height */
  height: 20vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.stars-rating > *.checked{
  color: orange;
}

.rating-and-reviews{
  display: flex;
}

.vendor-details{
  font-size: 10px;
}
/* product number input picker */
input{
  position: relative;
  max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
}

.product-description > h3{
  font-weight: bold;
  font-size: 18px;
}

/* ----------- tablet view  ------ */
@media only screen and (max-width: 1024px) and (min-width: 701px){
  .product-description-text{
    display: none;
  }

  input{
    border: 1px solid black;
  }

  .picture-and-description  > * > p{
    font-size: 15px;
  }

  .product-details > button {
    height: 50px;
  }

}

/* ----------- phone view  ------ */
@media only screen and (max-width: 700px){
  .product-details > button{
    height: 50px;
  }

  .product-description-text{
    display: none;
  }

  input{
    border: 1px solid black;
  }

  .picture-and-description  > * > p{
    font-size: 10px;
  }

  h5{
    font-size: 13px;
  }

  .product-description > *{
    font-size: 10px;
  }
  .product-description > button{
    height: 30px;
  }

}


/* ------------------------------------page navigation -------------------------*/
#page-navigation{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}

#page-navigation > * {
  margin-left: 20px;
}

.pagination{
  border-radius: 0%; 
  background-color: #637289;
  border-color: #637289;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

li.page-item > *{
  border-radius: 0%; 
  background-color: #637289;
  border-color: #80868f;
}

li.page-item > *:hover, .page-link:hover{
  background-color: #7188ab;
  border-color: #637289;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
  color:white;
}

.page-link{
  color: white;
}
