

body {
    font-family: "Lato", sans-serif;
}

  /* ----------- phone view - 1 column only ------ */
  @media only screen and (max-width: 700px) {
    body {
        font-family: "Lato", sans-serif;
    }
  }

#page-header{
    margin: 10px;
    align-self: center;
}

/* Footer */
footer-component{
    height: 100px;
    position: relative;
    margin-top: auto;
}

#footer-content{
    background: #6372896d;
    position: relative;
    height: 100px;
}


.btn{
    border-radius: 0%; 
    background-color: #637289;
    border-color: #637289;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

.btn:hover{
    background-color: #7188ab;
    border-color: #637289;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

  
/* ----------- phone view - 1 column only ------ */
@media only screen and (max-width: 700px){
    .btn{
        font-size: 13px;
    }

    footer-component > * {
        font-size: 11px;
    }

    footer-component, #footer-content {
        height: 140px;
    }

  }