

body {
    font-family: "Lato", sans-serif;
}


/* Authentication modal */
#modal{
    display: none;
    position: fixed;
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content{
    background-color: #fefefe;
    margin: 4% auto;
    border: 1px solid #888888;
    max-width: 350px;
}

#close{
    float: right;
    margin-right: -15px;
    margin-top: -15px;
    font-weight: bold;
    padding: 0px 7px 5px 7px;
    border-radius: 100%;
}

#close:hover, #close:focus{
    text-decoration: none;
    cursor: pointer;
}

.auth{
    cursor: pointer;
}

.hide{
    display: none;
}

#message{
    display: none;
    border: 1px solid;
    position: relative;
    margin: 40px 20px 20px 20px;
    padding: 10px;
}

  /* ----------- phone view - 1 column only ------ */
  @media only screen and (max-width: 700px) {
    body {
        font-family: "Lato", sans-serif;
    }
  }

#page-header{
    margin: 10px;
    align-self: center;
}

/* Footer */
footer-component{
    height: 100px;
    position: relative;
    margin-top: auto;
}

#footer-content{
    background: #6372896d;
    position: relative;
    height: 100px;
}


/* .btn{
    border-radius: 0%; 
    background-color: #637289;
    border-color: #637289;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
} */

/* .btn:hover{
    background-color: #7188ab;
    border-color: #637289;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
} */

  
/* ----------- phone view - 1 column only ------ */
@media only screen and (max-width: 700px){
    .btn{
        font-size: 13px;
    }

    footer-component > * {
        font-size: 11px;
    }

    footer-component, #footer-content {
        height: 140px;
    }

  }