.page-container{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

 /* ----------- phone view ------ */
 @media only screen and (min-width: 800px) {
  .main-container{
    margin-top: 20px;
  }
  
 }

/* ---------------------------- generic tabs content -----------------------------*/
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: white;
  width: 20%;
  height: 1000px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fac7b133;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #fac7b18c;
  color: black;
  padding: 22px 16px;
  font-size: 17px;
  cursor: pointer;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  padding-bottom: 100px;
  height: 1000px;
}

.tab-content-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.tab-content{
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.tab-title{
  align-self: center;
}

 /* ----------- phone view ------ */
 @media only screen and (max-width: 800px) {
  .tab button, .tab button.active {
    font-size: 12px;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tab{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 80px;
    border: 1px solid gray;
    width: 100%;
    justify-content: center;
  }
  .tabcontent{
    width: 100%;
  }

 }


/* ----------------- tabs content - personal information section ----------------*/
/* rounded rofile picture*/

#profile-pic-container{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

/* user details */

#user-details{
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#delete-account-button{
  margin-top: 10px;
}



/* ----------- phone view ------ */
@media only screen and (max-width: 800px) {
  .container.user-details{
    width: 90%;
  }

  .form-control, .row > label{
    font-size: 12px;
  }

  h3{
    font-size: 16px;
  }
}

/* ----------- larger than phone ------ */
@media only screen and (min-width: 800px){
  .container.user-details{
    width: 60%;
  }
}

.container.user-details > .row{
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

/* buttons */
#edit-user-details, #change-picture, .row{
  margin-top: 15px;
}

#edit-user-details{
  max-width: fit-content;
}

/* --------------------------wishlist -----------------------------------*/

/* Include the padding and border in an element's total width and height */

#wishlist-container, #chat-container, #order-container{
  box-sizing: border-box;
  margin-top: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

#wishlist-tab-content{
  display: flex;
  flex-direction: column;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: white;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: 1px solid #ccc;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* ----------- phone view ------ */
@media only screen and (max-width: 800px) {
  #to-do-list-items li, #to-do-list-new-input, #add-new-to-do-element-btn {
    font-size: 12px;
  }

  #add-element-to-list{
    padding: 10px 15px;
  }
  
}

/* ----------------------------------orders ---------------------------*/

[id^=review_free_text_]{
  position: relative;
  max-width: 100%;
  width: 100%;
}

.orders-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: 900px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
  overflow-y: scroll;
}

.orders-container * button{
  height: 50px;
}

.product{
  display: flex;
  flex-direction: row;
  height: 300px;
  font-size: 13px;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%;
}

.picture-and-description{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-right: 1px solid #ccc;
}

.product-description{
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.rightest-box{
  padding: 5px;
}

.product-to-right-boxes-small{
  width: 65%;
}

.picture-and-description-small{
  width: 40%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-right: 1px solid #ccc;
}

.product-description > *{
  align-self: flex-start;
}

.product-description-text, .colors-available-p, .vendor-details, .product-title{
  text-overflow: ellipsis;
  text-align: justify;
  text-justify: inter-word;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.product-photo {
  width: 60%;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  
  /* Set a specific height */
  height: 20vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.product-photo-orders{
  width: 100%;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  
  /* Set a specific height */
  height: 20vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;

}

/* My orders product title */
h4{
  font-size: calc(1.1rem + .2vh);
}

.stars-rating > *.checked{
  color: orange;
}

.rating-and-reviews{
  display: flex;
}

.vendor-details{
  font-size: 10px;
}
/* product number input picker */
input{
  position: relative;
  max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    opacity: 1;
}

.product-description > h3{
  font-weight: bold;
  font-size: 18px;
}

.rightest-box > button{
  height: fit-content;
}

/* ----------- tablet view  ------ */
@media only screen and (max-width: 1024px) and (min-width: 701px){
  .product-description-text{
    display: none;
  }

  input{
    border: 1px solid black;
  }

  .picture-and-description  > * > p, .picture-and-description-small  > * > p{
    font-size: 15px;
  }

  .product-details > button {
    height: 50px;
  }

}

/* ----------- phone view  ------ */
@media only screen and (max-width: 700px){
  .product-details > button{
    height: 50px;
  }

  .product-description-text{
    display: none;
  }

  input{
    border: 1px solid black;
  }

  .picture-and-description  > * > p, .picture-and-description-small > * > p{
    font-size: 10px;
  }

  h5{
    font-size: 13px;
  }

  .product-description > *{
    font-size: 10px;
  }
  .product-description > button{
    height: 30px;
  }

}