<div id="modal">
  <div id="modal-content" class="container">
    <button id="close">&times</button>
    <!-- Authentication -->
    <div id="authentication">

      <!-- create user -->
      <form id="create-user-form">
        <h3 class="login-header">User Registration</h3>
        <div id="create-user-inputs">
          <div class="row align-items-center">
            <input type="text" id="create-user-username" class="form-control mb-3" placeholder="Username" autocomplete="false" required>
          </div>
          <div class="row align-items-center">
            <input type="email" class="form-control mb-3" id="create-user-email" placeholder="Email" autocomplete="false" required>
          </div>
          <div class="row align-items-center">
            <input type="password" id="create-user-password" class="form-control mb-3" placeholder="Password" autocomplete="false" required>
            <input type="password" id="password-repeat" class="form-control mb-3" placeholder="Repeat Password" autocomplete="false" required>
            <p id="no-match"></p>
          </div>
          <div class="row align-items-center" id="checkbox-tnc-container">
            <input type="checkbox" class="checkbox-tnc">
            <label for="checkbox-tnc">I agree to the terms and conditions</label>
          </div>
          <div class="row align-items-center">
            <button id="create-user-button" type="submit" class="btn btn-secondary mb-3">Sign up now!</button>
          </div>
        </div>
      </form>
      <!-- create user -->

      <!-- create vendor -->
      <form id="create-vendor-form">
        <h3 class="login-header">Vendor Registration</h3>
        <div id="create-vendor-inputs">
          <!-- business name -->
          <div class="row align-items-center">
            <input type="text" id="create-vendor-name" class="form-control mb-3" placeholder="Business Name" autocomplete="false" required>
          </div>
          <!-- business email -->
          <div class="row align-items-center">
            <input type="email" class="form-control mb-3" id="create-vendor-email" placeholder="Email" autocomplete="false" required>
          </div>
          <!-- business address 1 -->
          <div class="row align-items-center">
            <input type="text" id="create-vendor-address-1" class="form-control mb-3" placeholder="Address 1" autocomplete="false" required>
          </div>
          <!-- business address 2 -->
          <div class="row align-items-center">
            <input type="text" id="create-vendor-address-2" class="form-control mb-3" placeholder="Address 2" autocomplete="false">
          </div>
          <!-- business number -->
          <div class="row align-items-center">
            <input type="text" id="create-vendor-number" class="form-control mb-3" placeholder="Phone Number" autocomplete="false" required>
          </div>
          <!-- business city -->
          <div class="row align-items-center">
            <input type="text" id="create-vendor-city" class="form-control mb-3" placeholder="City" autocomplete="false" required>
          </div>
          <!-- business post code -->
          <div class="row align-items-center">
            <input type="text" id="create-vendor-post-code" class="form-control mb-3" placeholder="Post Code" autocomplete="false" required>
          </div>
          <!-- business country -->
          <select id="create-vendor-country" name="Country" class="form-control mb-3" required>
            <option value="" disabled selected hidden>Country</option>
            <option value="AF">Afghanistan</option>
            <option value="AX">Åland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua &amp; Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AC">Ascension Island</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia</option>
            <option value="BA">Bosnia &amp; Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="VG">British Virgin Islands</option>
            <option value="BN">Brunei</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CA">Canada</option>
            <option value="CV">Cape Verde</option>
            <option value="BQ">Caribbean Netherlands</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CN">China</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo - Brazzaville</option>
            <option value="CD">Congo - Kinshasa</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Côte d’Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czechia</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="SZ">Eswatini</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands (Islas Malvinas)</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard &amp; McDonald Islands</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="IN">India</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="XK">Kosovo</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Laos</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="MX">Mexico</option>
            <option value="FM">Micronesia</option>
            <option value="MD">Moldova</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar (Burma)</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="KP">North Korea</option>
            <option value="MK">North Macedonia</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestine</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn Islands</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Réunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russia</option>
            <option value="RW">Rwanda</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">São Tomé &amp; Príncipe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia &amp; South Sandwich Islands</option>
            <option value="KR">South Korea</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="BL">St Barthélemy</option>
            <option value="SH">St Helena</option>
            <option value="KN">St Kitts &amp; Nevis</option>
            <option value="LC">St Lucia</option>
            <option value="MF">St Martin</option>
            <option value="PM">St Pierre &amp; Miquelon</option>
            <option value="VC">St Vincent &amp; Grenadines</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard &amp; Jan Mayen</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="TW">Taiwan</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad &amp; Tobago</option>
            <option value="TA">Tristan da Cunha</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks &amp; Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States</option>
            <option value="UY">Uruguay</option>
            <option value="UM">US Outlying Islands</option>
            <option value="VI">US Virgin Islands</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VA">Vatican City</option>
            <option value="VE">Venezuela</option>
            <option value="VN">Vietnam</option>
            <option value="WF">Wallis &amp; Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
          </select>
          <div class="row align-items-center">
            <input type="password" id="create-vendor-password" class="form-control mb-3" placeholder="Password" autocomplete="false" required>
            <input type="password" id="create-vendor-password-repeat" class="form-control mb-3" placeholder="Repeat Password" autocomplete="false" required>
            <p id="no-match-vendor"></p>
          </div>
          <div class="row align-items-center" id="checkbox-tnc-container">
            <input type="checkbox" id="checkbox-tnc">
            <label for="checkbox-tnc">I agree to the terms and conditions</label>
          </div>
          <div class="row align-items-center">
            <button id="create-vendor-button" type="submit" class="btn btn-secondary mb-3">Sign up now!</button>
          </div>
        </div>
      </form>
      <!-- create vendor -->

      <!-- sign in -->
      <form id="sign-in-form">
        <h3 class="login-header">Sign In</h3>
        <div id="sign-in-inputs">
          <div class="row align-items-center">
            <input type="email" class="form-control mb-3" id="sign-in-email" placeholder="Email" required autocomplete="false">
          </div>
          <div class="row align-items-center">
            <input type="password" id="sign-in-password" class="form-control mb-3" placeholder="Password" required autocomplete="false">
          </div>
          <div id="forgot-password-link" class="auth" auth="show-forgot-password-form">Forgot Password?</div>
          <div class="row align-items-center">
            <button id="sign-in-button" type="submit" class="btn btn-secondary mb-3">Sign In</button>
          </div>
        </div>
      </form>
      <!-- sign in -->

      <!-- Forgot password form -->
      <form id="forgot-password-form">
        <h3 class="login-header">Forgot Password</h3>
        <div id="forgot-password-inputs">
          <div class="row align-items-center">
            <input type="email" class="form-control mb-3" id="forgot-password-email" placeholder="Email" autocomplete="false" required>
          </div>
          <div class="row align-items-center">
            <button id="forgot-password-button" type="submit" class="btn btn-secondary mb-3">Forgot Password</button>
          </div>
        </div>
      </form>
      <!-- Forgot password form -->

      <!-- success and error mesasges -->
      <div id="message"></div>
      <!-- success and error mesasges -->

      <!-- Need acount -->
      <div id="need-account">
        <p id="create-user-dialogue">
          Need an account?
          <span id="create-user-link" class="auth" auth="show-create-user-form">
            Create User
          </span>
        </p>
        <p id="sign-in-dialogue">
          Have an account?
          <span id="sign-in-link" class="auth" auth="show-sign-in-form">
            Sign In
          </span>
        </p>
        <p id="create-vendor-dialogue">
          Need a vendor account?
          <span id="create-vendor-link" class="auth" auth="show-create-vendor-form">Create Vendor</span>
        </p>
        <p id="customer-form-dialogue">
          Need a customer account?
          <span id="need-sign-in-link" class="auth" auth="show-sign-in-form">Click here</span>
        </p>
      </div>
      <!-- Need account -->

    </div>
    <!-- Authentication -->
  </div>
</div>