<div id="modal">
    <div id="modal-content" class="container">
        <button id="close">&times</button>
        <!-- Authentication -->
        <div id="authentication">

            <!-- create user -->
            <form id="create-user-form">
                <h3 class="login-header">User Registration</h3>
                <div id="create-user-inputs">
                    <div class="row align-items-center">
                        <input type="text" id="create-user-username" class="form-control mb-3" placeholder="Username"
                            autocomplete="false" required>
                    </div>
                    <div class="row align-items-center">
                        <input type="email" class="form-control mb-3" id="create-user-email" placeholder="Email"
                            autocomplete="false" required>
                    </div>
                    <div class="row align-items-center">
                        <input type="password" id="create-user-password" class="form-control mb-3"
                            placeholder="Password" autocomplete="false" required>
                    </div>
                    <div class="row align-items-center" id="checkbox-tnc-container">
                        <input type="checkbox" id="checkbox-tnc">
                        <label for="checkbox-tnc">I agree to the terms and conditions</label>
                    </div>
                    <div class="row align-items-center">
                        <button id="create-user-button" type="submit" class="btn mb-3">Sign up now!</button>
                    </div>
                </div>
            </form>
            <!-- create user -->

            <!-- sign in -->
            <form id="sign-in-form">
                <h3 class="login-header">Sign In</h3>
                <div id="sign-in-inputs">
                    <div class="row align-items-center">
                        <input type="email" class="form-control mb-3" id="sign-in-email" placeholder="Email" required
                            autocomplete="false">
                    </div>
                    <div class="row align-items-center">
                        <input type="password" id="sign-in-password" class="form-control mb-3" placeholder="Password"
                            required autocomplete="false">
                    </div>
                    <div id="forgot-password-link" class="auth" auth="show-forgot-password-form">Forgot Password?</div>
                    <div class="row align-items-center">
                        <button id="sign-in-button" type="button" class="btn mb-3">Sign In</button>
                    </div>
                </div>
            </form>
            <!-- sign in -->

            <!-- Forgot password form -->
            <form id="forgot-password-form">
                <h3 class="login-header">Forgot Password</h3>
                <div id="forgot-password-inputs">
                    <div class="row align-items-center">
                        <input type="email" class="form-control mb-3" id="forgot-password-email" placeholder="Email"
                            autocomplete="false" required>
                    </div>
                    <div class="row align-items-center">
                        <button id="forgot-password-button" type="button" class="btn mb-3">Forgot Password</button>
                    </div>
                </div>
            </form>
            <!-- Forgot password form -->

            <!-- Need acount -->
            <div id="need-account">
                <p id="create-user-dialogue">
                    Need an account?
                    <span id="create-user-link" class="auth" auth="show-create-user-form">
                        Create User
                    </span>
                </p>
                <p id="sign-in-dialogue">
                    Have an account?
                    <span id="sign-in-link" class="auth" auth="show-sign-in-form">
                        Sign In
                    </span>
                </p>
            </div>
            <!-- Need account -->

        </div>
        <!-- Authentication -->
    </div>
</div>