<div id="delete-account-modal">
  <div id="delete-account-content">
    <button id="delete-account-close">&times</button>
    <h3 class="delete-account-header">Delete Account</h3>
    <form id="delete-account">
      <div class="row align-items-center">
        <p>We're sad to see you go! Are you sure you want to leave us? If so, type your email below and we'll do the rest!</p>
      </div>
      <div class="row align-items-center">
        <input type="text" id="confirm-delete" placeholder="email">
      </div>
      <div class="row align-items-center">
        <button id="confirm-delete-account-button" class="btn mb-3">Delete Account</button>
      </div>
    </form>
    <div class="row align-items-center">
      <p id="warning-message"></p>
    </div>
  </div>
</div>