<footer class="text-center text-lg-start" id="footer">
  <!-- Container for grid -->
  <div class="container-fluid" id="footer-content">
    <div class="row align-items-center">
      <div class="col-3 text-left">
        <address>
          Nathan Norton and Susanna Ventafridda <br>
          UOL - Agile Software projects (2022)
        </address>
      </div>
      <div class="col-6 text-center">
        <p>You And Me, All Right Reserved </p>
      </div>
      <!-- Social Media -->
      <div class="col-3 text-right">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>