body {font-family: "Lato", sans-serif;}

main{
    display: flex;
    flex-direction: column;
}

#page-header{
    margin: 10px;
    align-self: center;
}

/* Footer */
footer-component{
    height: 200px;
    position: relative;
    margin-top: 15px;
}

#footer-content{
    background: #6372896d;
    position: relative;
}


.btn{
    background-color: #637289;
    border-color: #637289;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}

.btn:hover{
    background-color: #7188ab;
    border-color: #637289;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
}
